<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<h1>My Name is : </h1>
<h1 th:text="${name}">My Name is </h1>

<h1>My Name is : <span th:text="${name}"></span></h1>

<h2>My Name is : <span th:text="${#strings.toUpperCase(name)}"></span></h2>
<h2>Length of my name is : <span th:text="${#strings.length(name)}"></span></h2>


<div th:with="a = 5, b = 8 ,c = ${name.length()}">
    <h2>Print local variable a = <span th:text="${a}"></span></h2><br>
    <h2>Print local variable b = <span th:text="${b}"></span></h2><br>
    <h2>Print local variable c = <span th:text="${c}"></span></h2>

    <h2 th:text="'The Value Of c = '+ ${c}"></h2>
</div>
</body>
</html>