.container{
    background-color: seagreen;
}
.header{
    background-color:darkslategrey;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid white;
}
#id{
    alignment: right;
}
#heading1{
    height: 50px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: darkgray;
}
.pic{
    width: 100%;
    height: 400px;
    position: relative;
}

.head1{
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
}
.part3{
    display:flex;
    justify-content: space-around;
}
p{
    color: white;
    font-family: Verdana;
    font-size: medium;
}
h3{
    color:darkslategrey;
    margin-left: 50px;
}

.part3 ul li{
    color: white;
    font-family: Verdana;
    padding: 5px;
}
.part5{
    display: flex;
    justify-content: space-around;
}
.part5a{
      display: flex;
      justify-content: space-evenly;
      margin-left: 200px;

}
.part5b{
      display:flex;
      margin-right: 250px;
}
.circle-box{
    height:200px;
    width:200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-box:hover i{
    transform: scale(1.2);
}
.icon-box{
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -150px;
    margin-left: 10px;
}
.call{
    margin-top: 35px;
    margin-right: 30px;
    align-items: center;

}
.call i{
    transition: transform 2s;
}
.call:hover i{

    transform: scale(1.2);
}